/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #F0F0F0;
}

hr {
  border-top: 1px solid #f5f5f5;
}

tr {
  color: #636363;
}

h1, h2, h3, h4, h5, h6, p {
color: #404040;
}

a {
  color: #404040;
}

a:hover, a:focus {
  color: #206118;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #C5C9C3;
}

/*
 * Global add-ons
 */

.sub-header {
  width: 100%;
  margin: 0;
  padding: 0.05% 1.5%;
  background-color: #D9D9D9;
}

.sub-header h4 {
  display: inline-block;
}

.tag-sorter {
  margin-top: 0.55%;
  float: right;
}

.dropdown-toggle {
  height: 25px;
}

.btn {
  padding: 2px 12px;
}

.dropdown-menu {
  right: 0;
  left: inherit;
}

.anchor {
  padding-top: 50px;
  margin-top: -50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background-color: #404040;
}

.navbar-inverse .navbar-brand {
  color: #E6E6E6;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:active {
  color: #E6E6E6;
}

#navbar .navbar-brand {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.hidden {
  display: none;
}

.container {
  width: 95%;
}

.rt-tracker ul {
  text-decoration: none;
  list-style-type: none;
}

table {
  margin-top: 1.5%;
}

thead {
  background-color: #f5f5f5;
}

.table-striped>tbody>tr:nth-child(odd) {
  background-color: #EBEBEB;
}

.table-striped>tbody>tr:nth-child(even) {
  background-color: #f5f5f5;
}

.room {
  min-height: 200px;
}

.room:nth-child(1) {
  border-right: 1px solid #f5f5f5;
}

.room:nth-child(2) {
  border-left: 1px solid #f5f5f5;
}

.room h2 {
  font-size: 24px;
  color: #636363;
}

.room ul {
  margin: 5px 10px;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
}

.room img {
  vertical-align: text-bottom;
}

.tag {
  position: relative;
  display: inline-block;
  margin: 15px 5px 5px 5px;
  height: 64px;
  width: 240px;
}

.outofrange {
  border-top: 2px solid #f5f5f5;
}

.status {
  position: absolute;
  bottom: 27px;
  right: 18px;
  height: 30px;
  width: 35px;
  margin: 0;
}

.avtr {
  margin-left: 23px;
  height: 50px;
  width: 37px;
}

.red {
  /*background-color: #ffcecc;*/
  background-image: url("img/tag_red.png");
  background-repeat: no-repeat;
}

.blue {
  /*background-color: #d4e1f5;*/
  background-image: url("img/tag_blue.png");
  background-repeat: no-repeat;
}

.green {
  /*background-color: #d5e8d4;*/
  background-image: url("img/tag_green.png");
  background-repeat: no-repeat;
}

.yellow {
  /*background-color: #fff4c3;*/
  background-image: url("img/tag_yellow.png");
  background-repeat: no-repeat;
}

.orange {
  background-color: #f5ddc4;
}

.purple {
  background-color: #eddbff;
}

.status-full {
  background-image: url("img/status_bars_full.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}

.status-four {
  background-image: url("img/status_bars_four.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}

.status-three {
  background-image: url("img/status_bars_three.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}

.status-two {
  background-image: url("img/status_bars_two.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}

.status-one {
  background-image: url("img/status_bars_one.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}

.status-empty {
  background-image: url("img/status_bars_empty.png");
  background-size: 35px 30px;
  background-repeat: no-repeat;
}